<md-toolbar>
  <md-input-container dividerColor="accent" class="trm-search-container">
    <input mdInput type="text" (input)="search($event.target.value)">
  </md-input-container>
  <md-icon color="accent">search</md-icon>
</md-toolbar>

<md-list>
  <a md-list-item *ngFor="let contact of contacts$ | async; trackBy: trackByContactId" [routerLink]="['/contact', contact.id]">
    <img md-list-avatar [src]="contact.image" alt="Picture of {{contact.name}}">
    <h3 md-line>{{contact.name}}</h3>
  </a>
</md-list>
